.footerStyle{
    /* position: fixed; */
    /* bottom: 0; */
    /* left: 0; */
    width: 100%;
    background:#F0F4FC;
    display: flex;
    align-items: center;
    padding: 5%;
}

.footerTextContainer{
display: flex;
flex-direction: column;
border: 1px solid red;
font-family: "inter";
justify-content: center;

}

.footertext{
    font-size: 18px;
}

.footerAmount{
    font-size: 30px;

}