.cardStyle{
    background-color: #FFFFFF;
    display: flex;
    width: 370px;
    align-items: center;
    border-color: #FFFFFF;
    box-shadow: 0px 2px 20px 0px #0000000D;
}

.cardDetailContainer{
    display: flex;
    flex-direction: column;
    margin:0% 4%;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 600;
    width: 255px;

}

.imageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardQuantityContainer{
    display: flex;
    justify-content: space-between;
    padding-top: 9%;  
}

.cardQuantityStyle{
    color: #A1A1A1;
    font-weight: 400;
}